html
  head
    title
    meta(name='viewport', content='width = device-width, initial-scale = 1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
    script.
      $(document).ready(function() {
      $('select').material_select();
      });
  body(style='color:#ef5350')
    div(style='margin-top: 10%')
      h1(style='text-align: center;font-size: 1350%')
        strong LIBRARY.
    div
      h3(style='text-align: center') Contains #[strong] !{data.book_count} books of #[strong] !{data.author_count} Authors Right Now!!
    div
      h3(style='text-align: center')
        a(href='/catalog/books') View Book List
        |  |
        a(href='/catalog/authors')  view Authors List
        |  |
        a(href='/catalog/book/create')  Add a New Book 
        |  |
        a(href='/catalog/author/create')  Add a New Author